.title-project {
  font-size: 24px;
  margin-bottom: 30px;
  background-color: #d2b48c;
  padding: 10px 20px;
  color: #fff;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.project-img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.explanation {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

.img-href {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #f4e8d9;
}
.image-overlay {
  position: relative;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the transparency here */
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  height: 250px;
  width: 300px;
}
@media (max-width: 768px) {
  .projects-first {
    margin-right: 0;
  }

  .project-img {
    width: 100%;
    height: auto;
  }
}
