@import url("../fonts/fonts.css");
welcome-container {
  width: 40%;
  background-color: #e9bc8b;
}
.myName {
  color: #1e1815;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 4rem;
}
.myPhoto {
  border-radius: 50%;
}
