.about-container {
  height: fit-content;
  background-image: url("/src/components/Welcome/portfolioImage/WhatsApp\ Image\ 2023-05-16\ at\ 13.41.30.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}
.text-about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.about-title {
  margin-top: 40px;
  font-weight: 800;
  color: beige;
  font-size: 3.5rem;
  text-align: center;
}
.about-text {
  width: 50%;
  text-align: justify;
  font-size: 1rem;
  margin: 20px;
  color: wheat;
}
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.skills-text {
  text-align: justify;
  font-size: 0.8rem;
}
.skilovi {
  display: flex;
  gap: 20px;
  width: 40%;
}
