@import url("../fonts/fonts.css");
.contact-container {
  height: 30vw;
  background-color: #be9e7c;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-title {
  font-weight: 600;
  font-size: 2rem;
  color: #64401f;
}
.biggerText {
  font-weight: 400;
  font-size: 1rem;
  color: white;
}
.contact-list {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #64401f;
}
.list-item {
  list-style: none;
  padding: 10px;
}
.list-item a {
  color: #64401f;
  list-style: none;
  transition: transform 0.3s ease;
}
.hover-icon:hover {
  transform: scale(1.2) rotate(20deg) translateX(5px) translateY(-5px);
}
